{% extends 'base.html' %} {% block body %}
<h2>Digital Product Management - Web Form Template</h2>
{% extends 'base.html' %}

{% block content %}
  <h1>My Form</h1>
  <form action="{{ url_for('add') }}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br><br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email"><br><br>
    <button type="submit">Submit</button>
  </form>
  {% if data_list %}
    <h2>Form Data:</h2>
    <ul>
      {% for data_dict in data_list %}
        <li>Name: {{ data_dict['name'] }} - Email: {{ data_dict['email'] }}</li>
      {% endfor %}
    </ul>
{% endblock %}