{% extends 'base.html' %} {% block  %}
<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <div class="mb-3">
      <label class="form-label" for="Title">Title:</label>
      <input
        class="form-control" 
        type="text" 
        id="Title" 
        name="Title"
        autofocus="autofocus"
        required 
      />
    </div>

    <fieldset>
      <legend>Author:</legend>
      <label class="form-label" for="Author">
      <input 
        type="text" 
        id="Author" 
        name="Author"
        autofocus="autofocus"
        required
      />
    </fieldset>

    <fieldset>
      <legend>Pages:</legend>
      <label class="form-lable" for="Pages">
      <input 
        type="number" 
        id="Pages" 
        name="Pages" 
        min="1"
        autofocus="autofocus"
        required
      />
    </fieldset>


    <fieldset>
      <legend>Classification:</legend>
      <div class="mb-3 form-check form-check-inline">
      <label class="form-check-label" for="Classification">
      <input 
        type="radio" 
        id="Classification" 
        name="genre" 
        value="Classification"
        required="required"
      />
      Fiction
      </div>
      
      <div class="mb-3 form-check form-check-inline">
      <label class="form-check-label" for="Classification">
      <input 
        type="radio" 
        id="Classification" 
        name="genre" 
        value="Classification"
        required
      />
      Non-Fiction
      </div>

    <fieldset>
    <legend>Details:</legend><br>
    <input type="checkbox" id="owned" name="status" value="owned">
    <label for="owned">I own this book</label><br><br>
    <input type="checkbox" id="read" name="status" value="read">
    <label for="read">I've read this book</label><br><br>
    <input type="checkbox" id="liked" name="status" value="liked">
    <label for="liked">I liked this book</label><br><br>
    <input type="checkbox" id="recommend" name="status" value="recommend">
    <label for="recommend">I would recommend this book to others</label><br><br>
    </fieldset><br><br>
    <label for="Acquisition">How did you get this book?</label>
    <select id="Acquisition" name="Acquisition">
    <option value="" selected>-Select option-</option>
    <option value="purchased">I purchased it.</option>
    <option value="gift">It was a gift.</option>
    <option value="library">I checked it out at the library.</option>
    <option value="friend">A friend loaned it to me.</option>
    </select><br><br>

    <p>
    <div class ="mt-3">
      <input
      class="btn btn-primary"
      type="submit" 
      id="submit" 
      value="Add Book" 
      />
    </div>
  
  </form>

  {% if book %}
  <h3 class="mt-5">List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquisition</th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ books.Title }}</td>
        <td>{{ books.Author }}</td>
        <td>{{ books.Pages }}</td>
        <td>{{ books.Classification }}</td>
        <td>{{ books.Details }}</td>
        <td>{{ books.Acquisition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock  %}