<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="Title">Title:</label>
      <input type="text" id="Title" name="Title" /><br><br>
      <label for="Author">Author:</label>
      <input type="text" id="Author" name="Author"/><br><br>
      <label for="Pages">Pages:</label>
      <input type="number" id="Pages" name="Pages" min="1"><br><br>

      <label for="Classification">Classification:</label>
      <input type="radio" id="Classification" name="genre" value="Classification">
      <label for="Classification">Fiction</label>
      <input type="radio" id="Classification" name="genre" value="Classification">
      <label for="Classification">Non-Fiction</label>
    </p>
    <fieldset>
    <legend>Details:</legend><br>
    <input type="checkbox" id="owned" name="status" value="owned">
    <label for="owned">I own this book</label><br><br>
    <input type="checkbox" id="read" name="status" value="read">
    <label for="read">I've read this book</label><br><br>
    <input type="checkbox" id="liked" name="status" value="liked">
    <label for="liked">I liked this book</label><br><br>
    <input type="checkbox" id="recommend" name="status" value="recommend">
    <label for="recommend">I would recommend this book to others</label><br><br>
    </fieldset><br><br>
    <label for="Acquisition">How did you get this book?</label>
    <select id="Acquisition" name="Acquisition">
    <option value="" selected>-Select option-</option>
    <option value="purchased">I purchased it.</option>
    <option value="gift">It was a gift.</option>
    <option value="library">I checked it out at the library.</option>
    <option value="friend">A friend loaned it to me.</option>
    </select><br><br>

    <p><input type="submit" id="submit" value="Add Book" />
  </form>
  <h3>List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquisition</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ book.Title }}</td>
        <td>{{ book.Author }}</td>
        <td>{{ book.Pages }}</td>
        <td>{{ book.Classification }}</td>
        <td>{{ book.Details }}</td>
        <td>{{ book.Acquisition }}</td>
      </tr>
    </tbody>
  </table>
</main>